<div
    class="relative flex h-full flex-col overflow-hidden rounded-3xl border border-gray-300 dark:border-gray-700 shadow-lg">
    <div class="p-6">
        <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-100">
            Irrigation History
        </h3>
        <div
            class="mt-7 relative overflow-x-auto max-h-80 rounded-lg shadow-lg border border-gray-300 dark:border-gray-700">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead
                    class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-800 dark:text-gray-400 sticky top-0">
                    <tr>
                        <th scope="col" class="px-6 py-3">Date</th>
                        <th scope="col" class="px-6 py-3">Soil Moisture</th>
                    </tr>
                </thead>
                <tbody>
                    @for (record of pumpHistory; track record.timestamp) {
                    <tr class="bg-white dark:bg-gray-900 border-b dark:border-gray-700">
                        <td class="px-6 py-4">{{ record.timestamp * 1000 | date:'medium' }}</td>
                        <td class="px-6 py-4">{{ record.soilMoisture }}%</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>