<div
    class="relative flex h-full flex-col overflow-hidden rounded-3xl border border-gray-300 dark:border-gray-700 shadow-lg">
    <div class="p-6">
        <div class="w-full h-full mt-5 flex justify-center items-center">
            @if (chartOptions) {
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
                [fill]="chartOptions.fill" [tooltip]="chartOptions.tooltip" [title]="chartOptions.title"
                [legend]="chartOptions.legend" [plotOptions]="chartOptions.plotOptions">
            </apx-chart>
            }
        </div>
    </div>